@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

$font-family: "Inter", sans-serif;
$bg-color: #252954;
$body-color: #9b9ca7;
$main-bg: #0e0e23;
:root {
 --delay: 0s;
}
@media only screen and (min-width: 500px) {
  .app-header-actions-buttons {
    margin-right: 120px;
  }
}
.Pen{
  border:none;
  background: none;
}
option{
  color:black;
}
.app-dark {
  .Pen{
    color:white;
  }
  .card-title{
    color:white;
  }

  input{
    background: none;
    color:white;
  }
  color: white;
  .navbar_custom{
    background-color: black !important;
    color:white;
    .page_title_1 {
      color:white
    }
    .page_title_2{
      color: #f87115;
    }
    .icon-button{
      color:white;
      &:hover,&:focus {
        box-shadow: 0 0 0 4px #1f1f1f, 0 0 0 5px #969593;
      }
    }
   
  }
  .tittle{

    span {
      color: rgb(31, 31, 216);
    }
  }
  .multi_step_form {
    #msform #progressbar li.active {
      color: #f87115;
  }
  #msform #progressbar li.active:after,li.active::before {
   
    background: #f87115 !important;
  }
    background: rgb(26, 32, 73);
        background: radial-gradient(
         circle,
         rgba(26, 32, 73, 1) 0%,
         rgba(19, 22, 47, 1) 100%
        );
      
    #msform {
      background-color: black;
      .uploader {
        .lead{
          color:white
        }
       label{
        color:white;
        background:#101010;
       }
      }
    }
  }
  .Body2{
    .button{
      background: #1a1b3c;
    }
    background-color: $bg-color;
    color: $body-color;
    .left-side {
      background: none;
     }
    .wrapper {
      .point{
        color:white;
      }
      .table{
        color:white
      }
      background-color: $main-bg;
      .card{
        background: rgb(26, 32, 73);
        background: radial-gradient(
         circle,
         rgba(26, 32, 73, 1) 0%,
         rgba(19, 22, 47, 1) 100%
        );
      }
      .cards-header{
        background: #10122b;
      }
    }
    .card1{
      background: rgb(26, 29, 58);
      background: linear-gradient(
       45deg,
       rgba(26, 29, 58, 1) 0%,
       rgba(33, 39, 82, 1) 100%
      );
    }
    .header{
      background: radial-gradient(
          circle,
          rgba(20, 24, 52, 1) 0%,
          rgba(19, 22, 47, 1) 100%
         );
      &:before{
        background-color: $main-bg;
       
      }
    } 
  }
}
.app-light{
   .Body2{
    .button{
      background: #f87115;
    }
  }
  input{
    background: none;
    color:black;
  }
  color:black;
  .navbar_custom{
    background-color: white !important;
    .page_title_1{
      color:black
    }
    .page_title_2{
      color:red
    }
    .icon-button{
      color:black;
      &:hover,&:focus {
        box-shadow: 0 0 0 4px #e9ecef, 0 0 0 5px #969593;
      }
    }
  }
  .multi_step_form {
    #msform #progressbar li.active {
      color: red;
  }
  #msform #progressbar li.active:after,li.active::before {
  
    background: green !important;
  }
}
  .Body2{

    background: white;  
    display: flex;
    justify-content: center;
    align-items: center;
       color: black;
       .left-side {
        background: rgb(255 255 255);
       }

       .wrapper {
        .point{
          color:black;
        }

        background: white;
       
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        
        .card{
          background:white;
         
        }
        .card1{
          box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
        }
        .cards-header {
          background: white;
        }
        .table{
          color:black
        }
        .destination-card {
          background: white;
          color:black;
          box-shadow:2px 2px 4px 4px #adb5bd;
        }
      .header{
        background:white;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      &:before{
        background: white;
      }
    } 
      }
  }
}